.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  h2 {
    text-align: center;
  }
  &_confidentialSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 100%;
    height: auto;
    @media screen and (min-width: 481px) {
      width: 40%;
    }
  }
}