@use '../variables' as *;

.backoffice {
	&-banner {
		@include flex-column;
		@include align-center;
		height: 120px;
		width: 100%;

		h1 {
			color: $marron;
		}


	}
}

.input-field,
.admin-cities {
	@include flex-column;
	padding: 0.8rem;
	gap: 0.8rem;

	h3 {
		text-align: center;
		font-family: $subtitle;
	}
}

.input-field {
	label {
		display: inline-flex;
		width: 100%;
		padding-bottom: 1rem;
		align-items: center;
	}

	input {
		margin-left: 1rem;

	}

	p {
		text-align: center
	}

	.add-ville-coordonnees {
		@include flex-row;
		justify-content: space-between;

		@media (max-width: $breakpoint-small) {
			@include flex-column;
		}
	}
}


#admin {
	section {
		@include flex-column;
		width: 100%;
		padding: 0.8rem;
		margin-bottom: 1rem;

		.section-part {
			background-color: $sand;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2rem;
		}

		.border-for-tabs {
			border-radius: 0 15px 15px 15px;
		}

		.border-all {
			border-radius: 15px;
		}

		h2 {
			text-align: center;
			width: 100%;
		}

		.hr {
			width: 500px;
			height: 5px;
			background-color: $accent ;
		}
	}


	label {
		color: $marron;
		font-size: 1rem;
		font-weight: 500;
	}

	input[type="text"], input[type="number"],
	select {
		background-color: $beige;
		border: solid 2px $sand;
		border-radius: 5px;
		font-family: $text;
		font-size: 1rem;
		font-weight: 500;
		// color: $beige;
		padding: .5rem;

		option {
			background-color: $beige;
		}
	}
	input[type="number"] {
		min-width: 200px;
	}

	select {
		color: $marron;
	}

	::picker(select) {
		border-radius: 10px;
	}

	.admin-cities-wrapper {
		@include flex-column;
		@include align-center;
	}

	option:hover,
	option:focus,
	option:focus-visible,
	option:active {
		background: $beige ;
	}

	option:last-of-type {
		border-radius: 10px 10px;
	}
}

.separator {
	height: 4px;
	@include flex-column;
	@include align-center;
	margin: 2rem 0;

	&-line {
		width: 300px;
		background-color: $accent;
		height: 100%;
	}
}

.tabBtn {
	background-color: $beige;
	padding: 8px 20px;
	cursor: pointer;
	font-weight: 600;
}

.flex-center {
	display: flex;
	margin: 1rem;
	gap: auto;
	width: 100%;
	height: fit-content;
	justify-content: space-evenly;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column !important;
	gap: 20px; 
}

.active {
	background-color: $sand;
}

.category-tag {
	padding: .3rem 1rem;
	position: relative; 
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 30px;
	min-width: 150px;
	border-radius: 5px; 
	gap: 5px;
	border: 1px solid $marron; 
	
	
	&__pin {
		width: 20px; 
		height: 20px;
		border-radius: 90px; 
	}

	&:hover {
		background-color: $light-beige;
	}
}

.img-div {
	height: 100%;
	display: inline-flex; 
	align-items: center;

	&__error {
		color: red; 
	}
	&__valid {
		color: green; 
	}
}

.add-categories {
	display: flex;
	flex-direction: column;
}

.danger-zone {
	background-color: red;
	width: 80%;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px; 
	gap: 20px; 
}