@use '../variables' as *;

.href-container {
	@include flex-row; 
	@include align-center; 
	width: 100%;
	gap: 1rem; 

	a {
		color: inherit; 
		text-decoration: none; 
	}
	a:hover, a:visited {
		text-decoration: underline;
	}
}
.backoffice {
	&-banner {
		@include flex-column;
		@include align-center;
		height: 120px;
		width: 100%;

		h1 {
			color: $marron;
		}

	}

	&-container {
		@include flex-column;
		align-items: center;
		min-height: 250px; 
		width: 100%;
		background-color: $sand;

		h2, h3 {
			text-align: center
		}
		
		form {
			@include flex-column;
			text-align: left;
			justify-content: left;
			width: 100%;
			gap: 0.8rem;
			padding: 0.8rem;

			.description-field {
				width: 800px; 
				min-height: 50px; 
				height: fit-content;
				display: flex;
				align-items: start;
				text-wrap: initial;
			}

			label {
				display: inline-flex;
				width: 100%;
				padding-bottom: 1rem;
				align-items: center;
			}

			input {
				margin-left: 1rem;

			}

			p {
				text-align: center
			}

			input[type="submit"] {
				height: 40px;
				max-width: 50%;
				margin: 0 25%;
				font-size: 18px;
				color: $marron; 
				border-radius: 20px; 
				border: 1px solid $marron; 
				background-color: antiquewhite;
				cursor: pointer;

				&:hover {
					transition: 1s;
					background-color: bisque;
				}
			}
		}
	}
}

.container-row {
	padding: 0.8rem;
	gap:0.8rem; 
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;
}
.add-ville-coordonnees {
	@include flex-row;
	justify-content: space-between;

	@media (max-width: $breakpoint-small) {
		@include flex-column;
	}
}

#admin {
	section {
		@include flex-column;
		width: 100%;
		padding: 0.8rem;
		margin-bottom: 1rem;

		.section-part {
			background-color: $sand;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2rem;
		}

		.border-for-tabs {
			border-radius: 0 15px 15px 15px;
		}

		.border-all {
			border-radius: 15px;
		}

		h2 {
			text-align: center;
			width: 100%;
		}

		.hr {
			width: 500px;
			height: 5px;
			background-color: $accent ;
		}
	}


	label {
		color: $marron;
		font-size: 1rem;
		font-weight: 500;
		margin-right: 0.8rem;
	}

	input[type="text"],
	input[type="number"],
	input[type="url"],
	select, textarea {
		background-color: $beige;
		border: solid 2px $sand;
		border-radius: 5px;
		font-family: $text;
		font-size: 1rem;
		font-weight: 500;
		// color: $beige;
		padding: .5rem;

		option {
			background-color: $beige;
		}
	}

	select {margin-left: 0.8rem}

	textarea {
		height: fit-content;
	}


	input[type="number"] {
		min-width: 200px;
	}

	select {
		color: $marron;
	}

	::picker(select) {
		border-radius: 10px;
	}

	option:hover,
	option:focus,
	option:focus-visible,
	option:active {
		background: $beige ;
	}

	option:last-of-type {
		border-radius: 10px 10px;
	}
}

.separator {
	height: 4px;
	@include flex-column;
	@include align-center;
	margin: 2rem 0;

	&-line {
		width: 300px;
		background-color: $accent;
		height: 100%;
	}
}

.tab {
	&__container {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 2rem;
		width: 100%;
	}


	&__btn {
		background-color: $beige;
		padding: 8px 20px;
		cursor: pointer;
		font-weight: 600;
	}
}


.active {
	background-color: $sand;
}

.category-tag {
	padding: .3rem 1rem;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 30px;
	min-width: 150px;
	border-radius: 5px;
	gap: 5px;
	border: 1px solid $marron;


	&__pin {
		width: 20px;
		height: 20px;
		border-radius: 90px;
	}

	&:hover {
		background-color: $light-beige;
	}
}

.user-mail {
	width: 100%;
	border: 1px solid yellow;

	input {
		width: 450px;
	}

	&__content {
		width: 450px;
		// border: 1px solid $marron; 
		border-radius: 0 0 15px 15px;
		background-color: $light-beige;
		padding: 0.8rem;
	}

	&__item {
		border-bottom: 1px solid lightgrey;
		padding: .8rem;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			background-color: beige;
			cursor: pointer;
		}
	}
}

.img-div {
	height: 100%;
	display: inline-flex;
	align-items: center;

	&__error {
		color: red;
	}

	&__valid {
		color: green;
	}
}

.edit-zone,
.danger-zone {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	input[type="submit"],
	button {
		background-color: transparent;
		height: 25px;
		padding: 1rem 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid black;
		color: black;
		cursor: pointer;
		border-radius: 15px;
	}
}
.relative {
	position: relative;
}
.close {
	position: absolute; 
	top: 0; 
	right: 0; 
	padding: 0.3rem;
}

.danger-zone {
	border-radius: 15px;
	background-color: lightcoral;
	height: 150px;
}

.edit-zone {
	border-radius: 10px;
	background-color: papayawhip;
	width: 100%;
	height: 50px;
}

.vertical {
	display: flex;
	flex-direction: column;
	align-items: start !important;
}