@use '../variables' as *;

.city {
  position: relative;
  background-color: $beige;
  width: 100%;
  //height: 85vh;

  &__background {
    width: 100%;
    height: 20rem;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__display {
    margin: 12rem 6rem 0 6rem;
    &__title {
      font-size: 2rem;
      font-weight: bold;
      font-family: $title;
      color: $marron;
      margin: 1rem;
    }
  }
  &__map {
    position: absolute;
    top: 10rem;
    left: 6rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid $marron;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-beige;
    overflow: hidden;
    &-container {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;

      // Leaflet met la classe .leaflet-container sur ce même élément
      &.leaflet-container {
        background-color: $light-beige;
      }

      // Tu peux aussi lisser un peu les bords des tuiles
      .leaflet-pane,
      .leaflet-map-pane,
      .leaflet-tile-pane,
      .leaflet-layer {
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}
