@use '../variables' as *;

.city {
  position: relative;
  background-color: $beige;
  width: 100%;
  //height: 85vh;

  &__background {
    width: 100%;
    height: 20rem;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__display {
    margin: 12rem 6rem 0 6rem;
    &__title {
      font-size: 2rem;
      font-weight: bold;
      font-family: $title;
      color: $marron;
      margin: 1rem;
    }
  }
  &__map {
    position: absolute;
    top: 10rem;
    left: 6rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid $marron;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-beige;
  }
}
