@use '../variables' as *;

.heroBanner {
	text-align: center;
	color: $marron;
	padding: 1.5rem 0;
	font-weight: 900;
	letter-spacing: .1rem;
	background-color: $sand;
	margin: 1rem;
	border-radius: 0.5rem;
	@media (min-width: $breakpoint-small) {
		font-size: 2.5rem;
		padding: 5rem 0;
		margin: 3rem 6rem;
	}
	@media (min-width: $breakpoint-medium-large) {
		font-size: 2rem;
		padding: 5rem 0;
		margin: 3rem 6rem;
	}
	@media (min-width: $breakpoint-large) {
		margin: 3rem 10rem;
	}
}

.cities-mobile {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 6rem 1rem 0 1rem;
	gap: 0.75rem;
	@media (min-width: $breakpoint-medium) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		padding: 0 1rem;
	}
}
