@use '../variables' as *;

.signup {
  background-size: cover;
  background-position: center;
  margin-top: -7.8rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  @media (min-width: $breakpoint-small) {
    margin-top: -9.8rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 5rem;
    @media (min-width: $breakpoint-small) {
      width: 20rem;
      padding: 4rem 2rem;
    }

    &__title {
      color: $yellow;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      @media (min-width: $breakpoint-small) {
        gap: 1rem;
      }

      label {
        color: $yellow;
        font-size: 1rem;
        font-weight: bold;
      }

      input, select {
        border: none;
        border-radius: 5px;
        background-color: $yellow;
        font-family: $text;
        padding: .5rem;
        font-size: 1rem;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);

        option {
          background-color: $yellow;
        }
      }
    }
  }

  &__button {
    width: 12rem;
    margin-top: 3rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    color: $yellow;
    font-family: $title;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .25s ease, color .25s ease, transform .25s ease;

    &:hover, &:focus-visible {
      transform: scale(1.05);
      background-color: $yellow;
      color: $dark-blue;
      outline: none;
    }
  }
}