@use '../variables' as *;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 85vh;
  width: 100vw;
  background-color: $beige;
  color: $marron;
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  a {
    color: $marron;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    &:hover {
      color: $sand;
      outline: none;
    }
  }
}