DOCKERHUB_USERNAME=
DOCKERHUB_PROJECT_NAME=
DB_DATABASE=
DB_USER= 
DB_PASSWORD=
# DB_HOST => HOSTNAME = MACHINE (CONTAINER DOCKER) SUR LAQUELLE LA DB TOURNE
DB_HOST=
# GATEWAY => passerelle fournie par nginx (dev = 7000 ; stage = 7001 ; prod = 7002)
GATEWAY_PORT=
JWT_SECRET=
