DOCKERHUB_USERNAME=roxane697
DOCKERHUB_PROJECT_NAME=2025-03-wns-violet-cityguide
DB_DATABASE=city_guide
DB_USER=toto
DB_PASSWORD=Toto?eskecetoi589
# DB_HOST => HOSTNAME = MACHINE (CONTAINER DOCKER) SUR LAQUELLE LA DB TOURNE
DB_HOST=database-stage
# GATEWAY => passerelle fournie par nginx (dev = 7000 ; stage = 7001 ; prod = 7002)
GATEWAY_PORT=7001
JWT_SECRET=fzeyhugdvcoyhg