@use '../variables' as *;

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: $beige;
	font-size: 1rem;
	gap: 2rem;
	a {
		color: $marron;
		text-decoration: none;
		transition: color .25s ease;

		&:hover, &:focus-visible {
			color: $sand;
		}
	}
}