@use '../variables' as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: $dark-blue;
  font-size: 1rem;
  a {
    color: $yellow;
    text-decoration: none;
    transition: color .25s ease;

    &:hover, &:focus-visible {
      color: $white;
    }
  }
}