@use '../variables' as *;

.signupHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1rem;
  background: transparent;
  color: white;
  @media (min-width: $breakpoint-small) {
    margin: 0 6rem;
  }

  &__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
  }

  &__logo, &__ou-text {
    display: flex;
    width: 3rem;
    height: 3rem;
    color: #F6BB61;
    @media (min-width: $breakpoint-small) {
      width: 4rem;
      height: 4rem;
    }
  }
}