@use "components/header";
@use "components/signupHeader";
@use "pages/homePage";
@use "pages/city";
@use "pages/login_signup";
@use "components/footer";
@use "components/cityCard";
@use "components/carousel";
@use "components/categorySelect";
@use "pages/notFound";
@use "pages/faq";
@use "pages/legalNotice";
@use 'variables' as *;

h1 {
	font-family: $title;
}

h2, h3 {
	font-family: $subtitle;
}

body {
	font-family: $text;
	background-color: $beige;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.glassmorphism {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px) saturate(100%);
	-webkit-backdrop-filter: blur(2px) saturate(80%);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	//padding: 2rem;
}
